* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  min-height: 100dvh;
  background-color: #efefef;
}

main {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: center;

}

h1 {
  text-align: center;
  margin: 1rem;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}